T4L_API_IMAGE=ghcr.io/igorlyapin-max/t4l-api:v00.00.00.02
T4L_API_BIND_ADDRESS=127.0.0.1
T4L_API_PORT=5099
T4L_POSTGRES_PORT=55432
T4L_POSTGRES_DB=t4l
T4L_POSTGRES_USER=t4l
T4L_POSTGRES_PASSWORD=REPLACE_POSTGRES_PASSWORD
T4L_OIDC_AUTHORITY=https://REPLACE_OIDC_AUTHORITY/
T4L_OIDC_AUDIENCE=t4l-api
T4L_OTLP_ENDPOINT=http://otel-collector:4317
T4L_DEBUG_LOGGING_ENABLED=false
T4L_DEBUG_LOGGING_LEVEL=Basic
